*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  max-width: 320px;
  height: auto;
}
